# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
public/assets/*

# Build
dist
build
coverage

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Storage (personal data)
/storage

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
*.log
